<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Online Payments App</title>
    @*  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" /> @* added bootstrap - flatly - from bootswatch *@
    <link rel="stylesheet" href="~/OnlinePaymentsApp.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-primary shadow-sm mb-3">
            <div class="container-fluid">
            @*     <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Online Payments App</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> *@

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Начална страница</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Index">Сметки</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Payment" asp-action="Index">Трансакции</a>
                        </li>
                    </ul>
                    @if (Context.Session.GetInt32("UserId").HasValue)
                    {
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <span class="nav-link text-white">Здравей, @Context.Session.GetString("UserName")!</span>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Authentication" asp-action="Logout">Изход</a>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Authentication" asp-action="Login">Вход</a>
                            </li>
                        </ul>
                    }

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Online Payments App
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
